html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

lottie-player{
  width: 330px;
  display: flex;
  padding-left: 60%;
  padding-top: 7%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  visibility: hidden;
  transition: opacity 20s ease-out, visibility 5s ;
}

.loader.active {
  opacity: 1;
  visibility: visible;
}

.loader img {
  width: 100px;
  height: auto;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loader img {
  width: 200px;
  height: auto;
}
.header{
    max-width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-width: 100%;
    max-height: 70px; 
    margin-left: 60px
}

.navbar {
    display: flex;
  }

.navbar a {
    font-size: 24px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-right: 60px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #7ccaa5;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }

  .text-box {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-box h1 {
    margin: 20px 0 0px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: left;
    padding-left: 115px;

  }
  .text-box h3 {
    margin-right: 200px;
    font-size: 24px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding-left: 115px;
  }

  .hero-btn {
    display: inline-block;
    text-decoration: none;
    border: 3px solid green;
    border-radius: 20px;
    padding: 8px 64px;
    font-size: 18px;
    background: #7ccaa5;
    position: fixed;
    cursor: pointer;
    left: 115px;
    margin: 30px 0 0px;
    font-weight: bold;
    color: black;
  }

  .hero-btn:hover {
    background: green;
    transition: .3s;
  }
  .glow {
    display: none;
  }


  @media(max-width: 600px){

    lottie-player{
      width: 220px;
      display: flex;
      padding-left: 25%;
      padding-top: 37%;
    }
    
    .header img {
      margin-left: 20px;
    }
  
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar a {
      margin: 10px 0;
    }
  
    .container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;

    }
  
    .text-box {
      width: 80%;
      top: 33%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .text-box h1 {
      font-size: 48px;
      padding-left: 30px;
    }
  
    .text-box h3 {
      margin-right: 0;
      padding-left: 0;
      padding-top: 80%;
    }
  
    .hero-btn {
      left: 50%;
      transform: translateX(-50%);
      margin: 20px 0;
    }
  }
  /*------------------Game---------------*/
.glow img{
  position: absolute;
  top: 25%;
  left: 32%;
  width: 33%;
  height: 45%;
}

.whothat img{
  position: absolute;
  top: 25%;
  left: 100px;
  height: 40%;
  transform: rotate(356deg);
}

#score{
  color: white;
  position: absolute;
  top: 207px;
  right: 120px;
  font-size: 42px;
  font-weight: bold;
  z-index: 2;
}


/* PopUp Container */

#popup-score {
  font-weight: bold;
}

#gameoverPopUp button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;

}
#gameoverPopUp button#button1 {

  border: 2px solid #ea2e25;
  color: #ea2e25;
  box-shadow: 0px 0px 0px 0px;
}

#gameoverPopUp button#button2 {
  background: #ea2e25 ;
}
/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  align-items: center;
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 50px;
  border: 5px solid #ea2e25;
  width: 17%;
  border-radius: 20px;
  align-items:center;
  justify-content: center;
  
}

.modal-content p{
  font-size: 24;
}
.modal-content button{
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*----------------------------API---------------------------------*/

#pokemon-container {
  height: 355px;
}

#pokebd {
  position: relative;
  width: 100%;
  height: 81vh;
  overflow: hidden;
  object-position: bottom;
  border: 5px solid #fff;
  box-sizing: border-box;
}

#answer{
display: none;
}


#pokename {
  position: absolute;
  right: 130px;
  top: 85%;
  font-size: 36px;
  color: #ea2e25;
  text-transform: uppercase;
}

#controls {
  position: relative;
  padding: 20px 40px ;
}

button {
  background: white;
  border: none;
  color: #3e7ae7;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px 1px;
  cursor: pointer;
  transition: all .2s ease-out;
}

button:hover {
  box-shadow: 0px 4px 10px 4px;
  background-color:  gainsboro;
}

button.correct,
button.incorrect {
  color: #d9fcd9;
  box-shadow: none;
}

button.correct {
  background: #0dff0d;
}

button.incorrect {
  background: #ea2e25;
}

#play {
  position: absolute;
  top: -100px;
  left: 63%;
}


#pokemon-image {
  margin: 135px 0 0 140px;
  transform: scale(3.8);
  filter: brightness(0);
  transition: filter .5s ease-out;
  position: absolute;
  left: 36%;
  z-index: 1;
}


main.fetching #pokemon-image {
  visibility: hidden;
  display: none;
}

main.fetching #choices {
  display: none;
}

main.revealed #pokemon-image {
  filter: none;
}

main.revealed #answer {
  display: block;
}

#choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-top: 32;
  text-align: left;
  width: 68%;
  padding-left: 1%;
  padding-right: 1%;
}
#mobileGifContainer {
  display: none;
}

@media(max-width: 600px){

  .glow img{
    position: absolute;
    top: 25%;
    left: 36%;
    width: 70%;
    height: auto;
    transform: translateX(-50%);
  }
  .whothat img {
    display: none;
  }

  #score {
    position: absolute;
    top: 530px;
    right: 140px;
    font-size: 20px;
    bottom: 20px;
    text-align: center;
    color:white;
  }


  #play {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-85%);
  }


  #pokemon-image {
    filter: brightness(0);
    transition: filter 0.5s ease-out;
    margin: 150px 0 140px;
    transform: scale(3);
    position: absolute;
    left: 100px;
}

#choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  margin-top: 113px;
  text-align: center;
  width: 0%;
  
}

button {
  width: 100%;
  max-width: 150px;
  transform: translateX(-22%);
  z-index: 100;
  font-size: 18px;
  cursor: pointer;
}

#pokename {
  position: absolute;
  right: 28px;
  top: 85%;
  font-size: 15px;
  color: #ea2e25;
  text-transform: uppercase;
  bottom: 10px;
}
#gameoverPopUP{
  z-index: 300;
}
#gameoverPopUp button {
  margin-top: 10px;
  margin-right: 0;
  margin-left: 30;
}
.modal {
  position: fixed;
  overflow: hidden;

}

.modal-content {
  margin: 70% auto;
  padding: 20px;
  width: 70%;
  position: relative;
  
}

.modal-content p {
  font-size: 24px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#mobileGifContainer {
  display: block;
  margin-left: 10px;
  position: absolute;
    top: 80px;
    right: 0;
}
}

/*-----------------Pokedex---------------*/

#pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  width: 100%; /* Ensure the pokedex container spans the full width */
  max-width: 1200px; /* Limit the maximum width for better readability */
  margin: 0 auto; /* Center the pokedex container horizontally */
  padding: 0 20px; /* Add some padding to the sides */
}

#pokedex a {
  margin-top: 2rem;
}

#pokedex h1 {
  letter-spacing: 3px;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
  width: 100%; /* Ensure the grid container spans the full width */
}

/*responsive layout for mobile*/
@media (max-width: 480px) {
  .pokedex {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* responisive override for larger screens*/
@media (min-width: 1024px) {
  .pokedex {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Styles for individual Pokemon cards */
body {
  overflow: auto;
}
.pokemon {
  position: relative;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
  width: 100%; /* Ensure each card spans the full width of its grid cell */
}

.pokemon .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.pokemon .img-container img {
  width: 150px;
  height: auto;
  margin-top: 20px;
  max-width: 90%;
  filter: drop-shadow(0 5px 3px black);
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: #d6c887;
  border-radius: 10px 0 10px;
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 1em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: #fff;
}

.type span {
  color: #d6c887;
  font-size: 1.2rem;
}

.stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(101%);
  transition: 0.3s ease-in;
  overflow: auto;
  height: 85%;
  background-color: #333333;
  color: #d6c887;
}

.stats p {
  justify-content: space-between;
}

.pokemon:hover .stats {
  transform: translateY(0);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3rem;
}

.flex > ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.suggestions {
  position: absolute;
  z-index: 10;
  width: calc(100% - 20px);
  background: black;
  border: 1px solid #ccc;
  border-top: none;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  color: white;
}

.suggestion-item:hover {
  background-color: #333;
}

.autocomplete {
  width: 100%;
  position: relative;
}