html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  visibility: hidden;
  transition: opacity 20s ease-out, visibility 5s ;
}

.loader.active {
  opacity: 1;
  visibility: visible;
}

.loader img {
  width: 100px;
  height: auto;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loader img {
  width: 200px;
  height: auto;
}
.header{
    max-width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-width: 100%;
    max-height: 70px; 
    margin-left: 60px
}

.navbar {
    display: flex;
  }

.navbar a {
    font-size: 24px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-right: 60px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #7ccaa5;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }

  .text-box {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-box h1 {
    margin: 20px 0 0px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: left;
    padding-left: 115px;

  }
  .text-box h3 {
    margin-right: 200px;
    font-size: 24px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding-left: 115px;
  }

  .hero-btn {
    display: inline-block;
    text-decoration: none;
    border: 3px solid green;
    border-radius: 20px;
    padding: 8px 64px;
    font-size: 18px;
    background: #7ccaa5;
    position: fixed;
    cursor: pointer;
    left: 115px;
    margin: 30px 0 0px;
    font-weight: bold;
    color: black;
  }

  .hero-btn:hover {
    background: green;
    transition: .3s;
  }

  .image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 110%;
    overflow: hidden;
    padding-right: 115px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
  }
  /*------------------Game---------------*/



.glow img{
  position: absolute;
  top: 25%;
  left: 32%;
  width: 33%;
  height: 45%;
}

.whothat img{
  position: absolute;
  top: 25%;
  left: 100px;
  height: 40%;
  transform: rotate(356deg);
}
/*----------------------------API---------------------------------*/
/*----------------------------------------------------------------*/

#pokemon-container {
  height: 355px;
}

#pokebd {
  position: relative;
  width: 100%;
  height: 81vh;
  overflow: hidden;
  object-position: bottom;
  border: 5px solid #fff;
  box-sizing: border-box;
}

#answer{
display: none;
}



#pokename {
  position: absolute;
  right: 130px;
  top: 85%;
  font-size: 36px;
  color: red;
  text-transform: uppercase;
}

#controls {
  position: relative;
  padding: 20px 40px ;
}

button {
  background: white;
  border: none;
  color: #3e7ae7;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px 1px;
  cursor: pointer;
  transition: all .2s ease-out;
}

button:hover {
  box-shadow: 0px 4px 10px 4px;
  background-color:  gainsboro;
}

button.correct,
button.incorrect {
  color: #d9fcd9;
  box-shadow: none;
}

button.correct {
  background: #0dff0d;
}

button.incorrect {
  background: #ea2e25;
}

#play {
  position: absolute;
  top: -100px;
  left: 63%;
}


#pokemon-image {
  margin: 135px 0 0 140px;
  transform: scale(3.8);
  filter: brightness(0);
  transition: filter .5s ease-out;
  position: absolute;
  left: 36%;
  z-index: 1;
}

main.fetching #pokeball {
  visibility: visible;
}

main.fetching #pokemon-image {
  visibility: hidden;
  display: none;
}

main.fetching #choices {
  display: none;
}

main.revealed #pokemon-image {
  filter: none;
}

main.revealed #answer {
  display: block;
}

#choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-top: 32;
  text-align: left;
  width: 68%;
  padding-left: 1%;
  padding-right: 1%;
}




/*-----------------Pokedex---------------*/

#pokedex {
  max-width: 400px;
  margin: auto;
  color: #ffffff;
  text-align: center;
}
#pokedex h1{
  font-size: 60px;
}
#pokemon-info {
  margin-top: 20px;
}