.header{
    max-width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-width: 100%;
    max-height: 70px; 
    margin-left: 60px
}

.navbar {
    display: flex;
  }

.navbar a {
    font-size: 24px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-right: 60px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: red;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 70vh;
  }

  .text-box {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-box h1 {
    margin: 20px 0 0px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: left;
    padding-left: 115px;

  }
  .text-box h3 {
    margin-right: 200px;
    font-size: 24px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding-left: 115px;
  }

  .hero-btn {
    display: inline-block;
    text-decoration: none;
    border: 4px solid green;
    border-radius: 20px;
    padding: 8px 64px;
    font-size: 18px;
    background: #7ccaa5;
    position: fixed;
    cursor: pointer;
    left: 115px;
    margin: 30px 0 0px;
    font-weight: bold;
    color: black;
  }

  .hero-btn:hover {
    background: green;
    transition: .3s;
    
  }

  .image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 110%;
    overflow: hidden;
    padding-right: 115px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }